body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost";
}

.flex {
  display: flex;
}

.new-season-items,
.related-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin-left: 5%;
  margin-right: 20%;
  margin-top: 50px;
  margin-bottom: 100px;
}

.related-items {
  margin-top: 0;
  grid-template-rows: 1fr 1fr;
  row-gap: 40px;
}

.text-and-button {
  justify-content: space-between;
  color: #032e3f;
}

.button-link,
.nav-button-link {
  text-decoration: none;
  color: #e8ecee;
  text-align: center;
  font-size: 16px;
}

.new-season-item,
.related-item {
  border: 1px solid #02171b;
  border-radius: 4px;
  padding: 20px;
  align-self: center;
  width: 50%;
  box-shadow: 1px 1px 4px #194455;
}

.new-season-item-img,
.related-item-img {
  width: 100%;
  height: 50%;
  border-radius: 9px;
}

.button {
  align-self: center;
  border-radius: 5px;
  background-color: #105874;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border: none;
  box-shadow: 2px 2px #194455;
  transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.button:hover {
  background-color: #032e3f;
  box-shadow: 3px 3px #194455;
}

.new-season-text,
.related-items-text {
  margin-left: 10%;
  color: #032e3f;
  font-weight: 400;
}

/* MOBILE NAV BAR */

.mobile-nav-bar {
  visibility: hidden;
  position: fixed;
  bottom:0;
  
  width: 100vw;
  height: 70px;
  background-color: #194455;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.mobile-nav-bar-list {
  position: sticky;
  bottom:0;
  list-style: none;
  width: 350px;
  align-items: center;
  

}

.mobile-nav-bar-item {
  position: relative;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.nav-button-link {
  color: #02171b;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.mobile-nav-bar-icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
}

/* .mobile-nav-bar-icon:hover, */
.mobile-nav-bar-item.active .mobile-nav-bar-icon {
  transform: translateY(-35px);
}

.mobile-nav-bar-text {
  color:#e8ecee ;
  position: absolute;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}

.mobile-nav-bar-item.active .mobile-nav-bar-text {
  opacity: 1;
  transform: translateY(10px);
}

.mobile-nav-bar-indicator {
  position: absolute;
  top: -35px;
  width: 60px;
  height: 60px;
  background-color: #476977;
  border-radius: 50%;
  border: 5px solid #fff;
  transition: 0.5s;
}

.mobile-nav-bar-indicator::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: -21px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 0 -10px 0 0 #fff;
}

.mobile-nav-bar-indicator::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: -21px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: 0 -10px 0 0 #fff;
}

.mobile-nav-bar-item:nth-child(1).active ~ .mobile-nav-bar-indicator {
  transform: translateX(calc(70px * 0));
}

.mobile-nav-bar-item:nth-child(2).active ~ .mobile-nav-bar-indicator {
  transform: translateX(calc(70px * 1));
}

.mobile-nav-bar-item:nth-child(3).active ~ .mobile-nav-bar-indicator {
  transform: translateX(calc(70px * 2));
}
@media (max-width: 720px) {
.mobile-nav-bar{
  visibility: visible;
}


  .new-season-items {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-content: space-around;
    gap: 18px;
  }

  .related-items {
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
  }

  .new-season-item {
    width: 35%;
  }

  .new-season-text {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .new-season-text {
    font-size: 24px;
  }
}
